$brand-colors: 
("white",white, #0f0f0f ),
("black",#1C1C1C, white),
("pink", #f57d84, #ED6870),
("yellow",#ffc700, #FFA502),
("xq", #F7F9FF, #151718),
("light-grey", #F9F9F9,#161515),
("dark-grey", #E0E0E0, #131212 ),
("purple", #BA83C4, #E7D5F9),
("light-blue", #BFEFFF, #2e96d3),
("grey", #A9A9A9,#525252),
("teal", #00b9b9,#008080),
("blue", #254eaf, #2e96d3);

@each $color in $brand-colors {
  .is-#{nth($color,1)}-bg{
    background-color: nth($color,2) !important;
  }
  .is-#{nth($color,1)}{
    color: nth($color,2) !important;
  }
  body.dark-mode {
    .is-#{nth($color,1)}-bg{
      background-color: nth($color,3) !important;
    }
    .is-#{nth($color,1)}{
      color: nth($color,3) !important;
    }
  }
}
