//fonts 
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');

//files
@import "./vars.scss";
@import "./layout.scss";
@import "./colors.scss";
@import "./opacity.scss";
@import "./button.scss";
@import "./link.scss";
@import "./logo.scss";
@import "./border.scss";
@import "./hero.scss";
@import "./input.scss";
@import "./margin_padding.scss";
@import "./images.scss";
@import "./icons.scss";
@import "./navbar.scss";
@import "./utils.scss";

@for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: $i * 1.4em;
    }
}

.markdown {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
  }
  pre code {
    @extend .is-black;
    background: none;
    display: block;
    line-height: 1.42;
    width: auto;
  }

  pre {
    @extend .is-xq-bg;
    border-radius: 3px;
    font-size: 1rem;
    overflow-x: auto;
    padding: 1.45rem;
    word-wrap: break-word;
    font-weight: normal;

}
}
*
{
  box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Lato;
    font-size: 1.1vm;
}

h1 { 
    display: block;
    font-size: 2em;
    font-family: Lato;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  
h2 {
    display: block;
    font-size: 1.5em;
    font-family: Lato;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

h3 { 
    display: block;
    font-size: 1.17em;
    font-family: Lato;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

h4 { 
    display: block;
    font-size: 1em;
    font-family: Lato;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

h5 { 
    display: block;
    font-size: .83em;
    font-family: Lato;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

h6 { 
    display: block;
    font-size: .67em;
    font-family: Lato;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

p {
  font-size: 1em;
}

hr {
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.plain-ul {
  list-style-type: none;
}

.small-text {
  font-size: 0.8em;
}

.footer {
    text-align: center;
    font-family: Lato;
    padding: 10px;
}



