.cover-image {
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

.card-row {
  margin-bottom: 5px;
  margin-right: 5px;
  @extend .is-blue-bg;
}

.display-image {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    object-fit: fill;
}

  .image-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 500px;
    border-radius: 5px;
  }

  @media only screen and (min-width: 768px){
      .image-card {
        height: 480px;
      }
  }

.image-card:hover, 
.tech-card:hover {
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
    transform: scale(1.08);
  }

.display-card-image {
    border-radius: 5px 5px 0 0;
  }

.image-card-container {
    padding: 2px 16px;
  }

  .tech-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 165px;
    padding: 2px 16px;
    border-radius: 5px;
    margin: 2px;
  }

  .dark-mode .image-card, .tech-card{
    box-shadow: 0 2px 4px 0 #F0F0F1;
  }


