.search-box {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    border: 2px solid #f08f00;
    border-radius: 2px;
    font-size:1em;
    padding: 5px 10px;
    margin-top: 10px 5px;
  }

  .search-box:focus {
    outline: 0;
  }