a,
a:hover {
  font-family: Lato;
  text-decoration: none;
}

.link  {
  transition: all .2s ease-in-out;
  font-weight: 100;
  text-decoration: none;
  @extend .is-black;
}

.nav-link {
  transition: all .2s ease-in-out;
  font-weight: 100;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 1px solid white !important;
  transform: scale(1.05);
}

.nav-link:visited, 
.link:visited {
  @extend .is-black;
}

.mail-link {
  vertical-align: middle;
  line-height: 2;
}
.mail-link:hover {
  text-decoration: none !important;
}
.link:hover {
    border-bottom: 1px solid #f08f00 !important;
    text-decoration: none !important;
    color: black !important;
    transform: scale(1.05);
}
