.link {
  @extend .is-blue; 
  text-decoration: none !important;
}
.link:hover {
  border-bottom: 1px solid #f08f00 !important;
  text-decoration: none !important;
  transform: scale(1.05);
}

.link:visited {
  text-decoration: none !important;
}

.nav-link {
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid #f08f00 !important;
  transform: scale(1.05);
}

.search-link {
  @extend .is-black;
  text-decoration: none !important;
}

.search-link:hover {
  text-decoration: none !important;
  transform: scale(1.05);
  @extend .is-black;
}

.search-link:visited, .search-link:focus, .search-link:active {
  text-decoration: none !important;
  @extend .is-black;
}
