   .navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
  float: right;
}

// #chkToggle:checked + ul.main-nav {
//   display: flex;
// }

.main-nav {
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}

.main-nav li {
  margin: 0;
  list-style: none;
}
.nav-links:first-child {
  margin-left: 20px;
  padding-left: 0px;
}
.nav-links {
  margin-left: 40px;
}