
.article-content {
    padding: 2px 20px;
}

.theme-emoji-light-div {
    color: transparent;  
  text-shadow: 0 0 0 #0f0f0f;
}

.theme-emoji-dark-div {
    color: transparent;  
  text-shadow: 0 0 0 white;
}

