
.article-content {
    padding: 2px 20px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  @extend .is-pink-bg;
  display: inline;
  padding: 4px;
  border-radius: 3px;
  margin-right: 3px;
  font-size: 0.8em;
}

.tags:hover {
  opacity: 0.8;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-div {
  text-align: right;
}
